.backend-message{
    opacity: 0.6;
    transition: opacity 1s ease; /* Define transition effect */
}

.backend-message.show {
    opacity: 1;
}
.alert{
    width: 80%; /* Set the width of the form */
    max-width: 600px; /* Set a maximum width to prevent the form from becoming too wide */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.alert {
    display: flex;
    justify-content: space-between;
}

.info-section {
    margin-right: 20px; /* Adjust as needed */
}

.info {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.column p {
    margin: 0;
    margin-bottom: 10px;
}