.add-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #5d5c5c;
}

.add-customer label {
    font-size: 16px; /* Replace 16px with your desired font size */
    font-weight: bold; /* Replace bold with your desired font weight */

}
.add-customer input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


